/* nav - part start here  */

.logo-color {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.register-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.nav-text {
  font-family: "Poppins", sans-serif;
}
nav li {
  padding: 0px 15px;
}
/* nav part end here  */
/* slider-part start here  */
.text-style {
  padding-bottom: 150px;
  line-height: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* slider-part end here  */
/* course -part start here  */
.course-text-part {
  text-align: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.course-text-part p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
/* course part end here */
/* feedback part start here */
.title-text {
  text-align: center;
}
/* feedback part end here */

/* footer start here */
footer {
  text-align: center;
}
/* footer end here */
.footer-text {
  padding: 35px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgba(245, 245, 220, 0.904);
}

.social-icon i {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  margin: 10px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.418);
  color: white;
}
/* responsive */
@media screen and (max-width: 576px) {
  #company {
    visibility: hidden;
  }
  .carousel-control-prev {
    visibility: hidden;
  }
  .carousel-control-next {
    visibility: hidden;
  }

  .text-style {
    padding-bottom: 0px;
    line-height: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  .text-style h1 {
    font-size: 18px;
    line-height: 0;
  }
  .text-style p {
    font-size: 16px;
    margin-top: 10px;
  }
  .d-none {
    display: block;
  }

  h2 {
    font-size: 1.5rem;
  }
  #course img {
    width: 100%;
  }

  #register-now .text-primary {
    margin-bottom: 30px;
  }
}
/* -------------------Tab-------------------- */
@media screen and (min-width: 768px) and (max-width: 991) {
  #company {
    visibility: hidden;
  }
  .text-style {
    padding-bottom: 50px;
    line-height: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}
